.custom-col2-dark{
    background-color: #242b31;
    color: white; 
}

.custom-col-data-dark{
    background-color: #343F4B;
    color: white; 
    border-radius: 10px;
}

.custom-col2-light{
    background-color: #F5F5F5;
    color: black;
}

.custom-col-data-light {
  background-color: #E4E4D0;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
}

.custom-btn{
    background: transparent;
    border: none;
}