.custom-container{
    font-family: 'Raleway', sans-serif;
}

.custom-col{
    background-color: #343F4B;
}

.custom-col2{
    background-color: #242b31;
}

.custom-col-days{
    background-color: #343F4B; 
}

.number-counter {
    animation: countUp 2s ease-in-out forwards;
  }
  
  @keyframes countUp {
    from {
      opacity: 0;
      transform: translateY(10%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }